<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<%= render 'pages/tree_pan' %>
    </div>
    <div class="col-md-5">
      <%= render 'pages/object_pan' %>
    </div>
    <div class="col-md-5">
      <%= render 'pages/player_pan' %>
    </div>
  </div>
</div>
<%= render 'pages/move_modal' %>
